<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title id="title"></title>
</head>
<body>
    <div>
        <div><h1>Сервис по классификации новостей</h1></div>
        <div><a href="/">Классификатор новостей</a></div>
        <div><a href="/news-filter">Коллекция новостей</a></div>
        <div><a href="/new-add">Добавить новость</a></div>
    </div>

    <div id="content">
        <div id="containerHeadTitle">

        </div>
        <div id="containerLink">

        </div>
        <div id="containerCategory">

        </div>
        <div id="containerDate">

        </div>
        <div id="containerTitle">

        </div>
        <div id="containerAuthor">

        </div>
        <div id="containerText">

        </div>
        <div id="containerButtons">

        </div>
        <div>
            <img hidden id="preloader" src="/static/images/preloader.gif" />
        </div>
        <div id="containerResult">

        </div>
    </div>
    <script src="/static/checks.js"></script>
    <script src="/static/functionsForNewOperations.js"></script>
    <script defer>
        showNew();
    </script>
</body>
</html>